<!DOCTYPE html>
<html>
<head>
    <title>TODO EDIT</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/todo.css">
</head>
<body>
<div class="home">
    <button type="button" id="img" onclick="location.href='/'">home</button>
</div>
<h1 class="main-text">TODO LIST</h1>
<hr><br>
<form action="/todo/write" method="post" class="form-box">
    <input type="text" class="text-box" placeholder="Enter todo" name="content">
    <button type="submit" class="btn">Write</button>
</form>
<br>
<ul class="list-box">
    <%
        var date = "";
        var next_date = "";
        todoTasks.forEach(tasks => {
        date = (tasks.date).substring(0, 10);
        if(date != next_date){
        next_date = date;
    %>
    <li>
        <div class="date"><%= date %></div>
    </li>
    <% } if(tasks._id == idTask) { %>
    <li class="todo-item">
        <form action="/todo/update/<%= tasks._id %>" method="post">
            <input type="text" value="<%= tasks.content %>" name="content" id="edit-box" autocomplete="off">
            <button type="submit">submit</button>
            <button type="button" onclick="location.href='/todo'">remove</button>
        </form>
    </li>
    <% } else { %>
    <li class="todo-item">
        <div class="todo-item-content">&emsp;<%= tasks.content %> &emsp; </div>
        <div class="edit-btn">
            <button type="button" onclick="location.href='/edit/<%= tasks._id %>'">edit
            </button>
            <button type="button" onclick="location.href='/remove/<%= tasks._id %>'">remove
            </button>
        </div>
    </li>
    <% }}); %>
</ul>
</body>
</html>